<ion-header>
  <ion-toolbar>
    <ion-back-button 
    defaultHref="/"
    text=""
    color="dark"
    slot="start">
    </ion-back-button>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Token</ion-label>
      <ion-input type="text" formControlName="token" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="resetForm.invalid">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>



