/node_modules
/www
/.angular
/.idea
/.vscode
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.keystore
*.jks
key.properties
/android/.gradle
/android/local.properties
/android/app/build
/android/build
node_modules/
www/
.angular/
coverage/

android/.gradle/
android/app/build/
android/local.properties

*.jks
*.keystore

.env
.env.*