<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="center">Eventos DUOC Manager</ion-card-subtitle>
        <ion-card-title class="center">Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content class="center" >
        <img src="assets/anfitrion.png"  class="pb">
        <div>
          <ion-button class="pb" href="/login" color="tertiary" expand="block" fill="solid" shape="round" size="default">
            Iniciar sesion
          </ion-button>
        </div>
        <div>
          <ion-button class="pb" href="register" color="tertiary" expand="block" fill="solid" shape="round" size="default">
            Registrarse
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
  <!-- </ion-header> -->
</ion-content>

<ion-footer>
  <ion-toolbar class="footer" >
    <ion-title slot="start" style="text-align: start;" style="font-weight: 700;">Duoc UC</ion-title>
    <ion-buttons slot="end">

      <ion-button fill="clear">
        <ion-icon name="logo-instagram" color="light"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-github" color="light"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-youtube" color="light"></ion-icon>
      </ion-button>


    </ion-buttons>

  </ion-toolbar>
</ion-footer>
