<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-back-button 
    defaultHref="/"
    text=""
    color="dark"
    slot="start">
  </ion-back-button>
  
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="registroForm">
        <ion-item>
          <ion-input type="text" placeholder="Ingrese un nombre de usuario" formControlName="username" label="Nombre de usuario:" labelPlacement="floating"></ion-input>
        </ion-item>
    
          <div id="alerta" *ngIf="registroForm.get('username')?.invalid && (registroForm.get('username')?.dirty || 
                      registroForm.get('username')?.touched)">
              <div id="alerta" *ngIf="registroForm.get('username')?.hasError('required')">
                *Debe ingresar un nombre de usuario
              </div>
              <div id="alerta" *ngIf="registroForm.get('username')?.hasError('minlength')">
                *El nombre de usuario debe tener al menos 6 caracteres
              </div>
          </div>
    
        <ion-item>
          <ion-input placeholder="Ingrese su email" type="email" formControlName="email" label="Email:" labelPlacement="floating"></ion-input>
        </ion-item>
    
          <div id="alerta" *ngIf="registroForm.get('email')?.invalid && (registroForm.get('email')?.dirty || 
                      registroForm.get('email')?.touched)">
              <div id="alerta" *ngIf="registroForm.get('email')?.hasError('required')">
                *Debe ingresar un email
              </div>
              <div id="alerta" *ngIf="registroForm.get('email')?.hasError('email')">
                *Porfavor ingrese un correo valido
              </div>
          </div>

          <ion-item>
            <ion-input type="number" placeholder="Ingrese su rut" formControlName="rut" label="Rut:" labelPlacement="floating"></ion-input>
          </ion-item>
      
            <div id="alerta" *ngIf="registroForm.get('rut')?.invalid && (registroForm.get('rut')?.dirty || 
                        registroForm.get('rut')?.touched)">
                <div id="alerta" *ngIf="registroForm.get('rut')?.hasError('required')">
                  *Ingrese los primeros 8 digitos de su rut
                </div>
                <div id="alerta" *ngIf="registroForm.get('rut')?.hasError('pattern')">
                  *Rut invalido
                </div>
            </div>

          <ion-item>
            <ion-input type="text" placeholder="Ingrese su nombre" formControlName="pnombre" label="Nombre:" labelPlacement="floating"></ion-input>
          </ion-item>
      
            <div id="alerta" *ngIf="registroForm.get('pnombre')?.invalid && (registroForm.get('pnombre')?.dirty || 
                        registroForm.get('pnombre')?.touched)">
                <div id="alerta" *ngIf="registroForm.get('pnombre')?.hasError('required')">
                  *Porfavor ingrese su nombre
                </div>
                <div id="alerta" *ngIf="registroForm.get('pnombre')?.hasError('pattern')">
                  *Usted ha ingresado un caracter invalido
                </div>
            </div>

          <ion-item>
            <ion-input type="text" placeholder="Ingrese su apellido" formControlName="apellido" label="Apellido:" labelPlacement="floating"></ion-input>
          </ion-item>
      
            <div id="alerta" *ngIf="registroForm.get('apellido')?.invalid && (registroForm.get('apellido')?.dirty || 
                        registroForm.get('apellido')?.touched)">
                <div id="alerta" *ngIf="registroForm.get('apellido')?.hasError('required')">
                  *Porfavor ingrese su apellido
                </div>
                <div id="alerta" *ngIf="registroForm.get('apellido')?.hasError('pattern')">
                  *Usted ha ingresado un caracter invalido
                </div>
            </div>
    
          <ion-item>
            <ion-input type="text" placeholder="Ingrese su carrera" formControlName="carrera" label="Carrera:" labelPlacement="floating"></ion-input>
          </ion-item>
      
            <div id="alerta" *ngIf="registroForm.get('carrera')?.invalid && (registroForm.get('carrera')?.dirty || 
                        registroForm.get('carrera')?.touched)">
                
                <div id="alerta" *ngIf="registroForm.get('carrera')?.hasError('pattern')">
                  *Usted ha ingresado un caracter invalido
                </div>
            </div>
    
        <ion-item>
          <ion-input placeholder="Ingrese su contraseña" type="password" formControlName="password" label="Contraseña:" labelPlacement="floating"></ion-input>
        </ion-item>
    
          <div id="alerta" *ngIf="registroForm.get('password')?.invalid && (registroForm.get('password')?.dirty || 
                      registroForm.get('password')?.touched)">
              <div id="alerta" *ngIf="registroForm.get('password')?.hasError('required')">
                *Debe ingresar una contraseña
              </div>
              <div id="alerta" *ngIf="registroForm.get('password')?.hasError('pattern')">
                *Minimo 8 caracteres, solo letras y numeros, al menos una letra y un numero
              </div>
          </div>
        
        <div style="text-align: center; margin-top: 30px;">
          <ion-button (click)="crearUsuario()" [disabled]="!registroForm.valid" shape="round" expand="block" fill="solid" >
            Crear Usuario
          </ion-button>
        </div>
        
      </form>


    </ion-card-content>
    
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer" >
    <ion-title slot="start" style="text-align: start;" style="font-weight: 700;">Duoc UC</ion-title>
    <ion-buttons slot="end">

      <ion-button fill="clear">
        <ion-icon name="logo-instagram" color="light"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-github" color="light"></ion-icon>
      </ion-button>

      <ion-button fill="clear">
        <ion-icon name="logo-youtube" color="light"></ion-icon>
      </ion-button>


    </ion-buttons>

  </ion-toolbar>
</ion-footer>
